SocialApp.API/bin/
SocialApp.API/obj/
SocialApp.API/obj/SocialApp.API.csproj.nuget.cache
SocialApp.API/obj/SocialApp.API.csproj.nuget.g.props
SocialApp.API/obj/SocialApp.API.csproj.nuget.g.targets
SocialApp.API/obj/project.assets.json
SocialApp.API/obj/Debug/netcoreapp2.0/SocialApp.API.csproj.CoreCompileInputs.cache
